In [1]:
import pandas as pd
items_fh = "./files/items.csv"

## Base dataframe

In [2]:
df = pd.read_csv(items_fh)

In [3]:
df.head()

,0,1,2,4,5,7,A,B,F,H,...,b,f,h,i,j,k,m1,m2,p,w
0,N,KBHS,SPCL,NaN,2138-30,NaN,Brooklyn Historical Society,Special Collections,Library Use Only,4277561,...,NaN,4,NaN,NaN,PAMP PierceEL-1,NaN,BOOK,Non-circulating,NaN,NaN
1,N,KBHS,MAIN,NaN,4374-20,NaN,Brooklyn Historical Society,Main Collection,Library Use Only,5225687,...,NaN,4,F128.18,.W87 1983,NaN,NaN,BOOK,Non-circulating,NaN,NaN
2,N,KBHS,REF,NaN,6039-20,NaN,Brooklyn Historical Society,Reference,Library Use Only,3872783,...,NaN,4,F129.B7,K4 2007,NaN,NaN,BOOK,Non-circulating,NaN,NaN
3,N,KBHS,CSTAC,NaN,11578-20,NaN,Brooklyn Historical Society,Closed Stacks,Library Use Only,7807830,...,NaN,4,RA629.E93,R85 1852,NaN,NaN,BOOK,Non-circulating,NaN,NaN
4,N,KBHS,CSTAC,NaN,12069-20,NaN,Brooklyn Historical Society,Closed Stacks,Library Use Only,7957060,...,NaN,4,RA627.C9,A3 1848,NaN,NaN,BOOK,Non-circulating,NaN,NaN

### $0 values

In [4]:
df["0"].value_counts()

N    38728
Y     1242
Name: 0, dtype: int64

### $1 values

In [5]:
df["1"].value_counts()

KBHS    39970
Name: 1, dtype: int64

### $2 values

In [7]:
df["2"].value_counts()

MAIN     30349
CSTAC     2420
SPCL      2016
FLMAP     1612
ARMS      1558
REF        585
MFORM      528
REFD       267
ATLAS      220
STAFR      138
RARE       114
FDMAP      112
FOLIO       48
CBDSK        3
Name: 2, dtype: int64

### $4 values

In [8]:
df["4"].value_counts()

reclass from gen periodicals;        172
reclass from Vital Records;          165
reclass from NYS;                    164
do not print;                        131
reclass from Desk Ref;                97
                                    ...
Reclass from Geneal. Si585b;           1
reclass from geneal. B1715bam;         1
Reclass from E663 .E53;                1
Reclass from PZ3.W685 Mon;             1
Reclass from Folio Arts A9 C5825;      1
Name: 4, Length: 11550, dtype: int64

In [12]:
df["4"].value_counts().to_csv("./files/sub_$4.csv", header=True)

### $5 values

In [13]:
df["5"].value_counts()

N11835972    65
N11856120    59
N11793203    58
N11860326    28
N11793261    28
             ..
N11801790     1
N11840511     1
N11803379     1
N11782555     1
N11826251     1
Name: 5, Length: 38728, dtype: int64

In [14]:
df["5"].value_counts().to_csv("./files/sub_$5.csv", header=True)

### $7 values

In [15]:
df["7"].value_counts().to_csv("./files/sub_$7.csv", header=True)

### $A values

In [16]:
df["A"].value_counts()

Brooklyn Historical Society    39970
Name: A, dtype: int64

### $a values

In [17]:
df["a"].value_counts()

1          1082
2           958
3           421
4           216
99          211
           ...
4-7           1
109-115       1
text          1
1902          1
1/6           1
Name: a, Length: 409, dtype: int64

In [18]:
df["a"].value_counts().to_csv("./files/sub_$a.csv", header=True)

### $B values

In [19]:
df["B"].value_counts()

Main Collection                  30349
Closed Stacks                     2420
Special Collections               2016
Flat Maps                         1612
Archives - Manuscripts            1558
Reference                          585
Microform                          528
Reference - Desk                   267
Atlas                              220
Staff Reference                    138
Rare Books                         114
Folded Maps                        112
Folio                               48
Conservation / Bindery - Desk        3
Name: B, dtype: int64

In [20]:
df["B"].value_counts().to_csv("./files/sub_$B.csv", header=True)

### $b values

In [21]:
df["b"].value_counts()

1            14
2             6
$B            3
1906-1907     2
22            1
1/4           1
1-4           1
3             1
1317          1
1905-1906     1
5             1
5-8           1
v.2           1
v.1           1
6             1
Name: b, dtype: int64

In [24]:
df["b"].value_counts().to_csv("./files/sub_$b_.csv", header=True)

### $F values

In [25]:
df["F"].value_counts()

Library Use Only    38611
Reference             695
Microform             528
NO ITEM STATUS        136
Name: F, dtype: int64

In [26]:
df["F"].value_counts().to_csv("./files/sub_$F.csv", header=True)

### $f values

In [28]:
df["f"].value_counts()

4     38611
8       695
5       528
77      136
Name: f, dtype: int64

In [30]:
df["f"].value_counts().to_csv("./files/sub_$f_.csv", header=True)

### $H value

In [32]:
df["H"].value_counts()

1649182    226
2873729     65
1023603     59
1023601     58
2809971     54
          ...
2746792      1
3404203      1
4309421      1
4641199      1
1436209      1
Name: H, Length: 36232, dtype: int64

### $h values

In [33]:
df["h"].value_counts()

CS71          11025
F127.L8         884
F129.B7         765
CS44            235
CS69            192
              ...
CT275.A76         1
BX8445.B76        1
JK2319.K56        1
KF354.N44         1
DC216.5           1
Name: h, Length: 9672, dtype: int64

In [35]:
df["h"].value_counts().to_csv("./files/sub_$h.csv", header=True)

### $I values

In [36]:
df["I"].value_counts()

1940          18
1894          15
1              8
1926           7
1884           5
              ..
1859           1
1995           1
v.10(1829)     1
v.2(1821)      1
1868           1
Name: I, Length: 89, dtype: int64

In [37]:
df["I"].value_counts().to_csv("./files/sub_$I.csv", header=True)

### $i values

In [38]:
df["i"].value_counts()

.A43 1952        226
L6 v. 1           68
N49 1963          65
N3 box 1          62
.D438 1933        54
                ...
C65 1964           1
O5 1854 c.2        1
M85 1897           1
.L34 1843          1
.B556776 1900      1
Name: i, Length: 29006, dtype: int64

In [39]:
df["i"].value_counts().to_csv("./files/sub_$i_.csv", header=True)

### $J values

In [40]:
df["J"].value_counts()

Apr.        2
Jan.        2
May 29      1
Oct. 20     1
Sept. 11    1
Oct         1
fall        1
May         1
July 30     1
Name: J, dtype: int64

In [41]:
df["J"].value_counts().to_csv("./files/sub_$J.csv", header=True)

### $j values

In [43]:
df["j"].value_counts()

B P-1915-1933.A        23
(66) NYC-1969.A         5
(82) Q-1901-1904.A      3
IPOF E449.B624 1985     3
Q-1928.A                3
                       ..
V1990.074               1
M-1776 (189-?).Fl       1
PAMP Whiting-1          1
B A-1898a.Fl            1
ARC.045                 1
Name: j, Length: 4573, dtype: int64

In [44]:
df["j"].value_counts().to_csv("./files/sub_j_.csv", header=True)

### $k values

In [45]:
df["k"].value_counts()

Folio    366
Name: k, dtype: int64

In [46]:
df["k"].value_counts().to_csv("./files/sub_$k.csv", header=True)

### $m1 values

In [47]:
df["m1"].value_counts()

BOOK     35901
MAP       2146
MIXED     1417
ISSUE      254
ISSMX      143
ISSBD       57
SCORE       42
GRAPH        4
ERES         4
SOUND        1
VIDEO        1
Name: m1, dtype: int64

In [48]:
df["m1"].value_counts().to_csv("./files/sub_$m1.csv", header=True)

### $m2 values

In [49]:
df["m2"].value_counts()

Non-circulating      38262
Non-Circulating          4
Electronic access        4
NOn-circulating          3
Non-circulation          2
Non-criculating          2
Non-circualting          2
Non-circulatng           1
non-circulating          1
N0n-circulating          1
Non-corculating          1
Nono-circulating         1
Non-circulatinig         1
No-circulating           1
Non-circulatimg          1
Name: m2, dtype: int64

In [50]:
df["m2"].value_counts().to_csv("./files/sub_$m2.csv", header=True)

### $P values

In [51]:
df["P"].value_counts()

Received          129
Labeling           16
Missing             3
Being Repaired      1
Name: P, dtype: int64

In [52]:
df["P"].value_counts().to_csv("./files/sub_$P.csv", header=True)

### $p values

In [53]:
df["p"].value_counts()

AR    129
LB     16
MI      3
RP      1
Name: p, dtype: int64

In [54]:
df["p"].value_counts().to_csv("./files/sub_$p_.csv", header=True)

### $Q values

In [55]:
df["Q"].value_counts()

20180524.0    44
20080620.0    39
20080613.0    35
20070514.0    23
20070523.0    21
20201016.0    18
20070607.0    12
20180523.0    10
20180706.0     9
20180919.0     8
20070518.0     8
20180417.0     8
20180629.0     7
20180418.0     6
20180320.0     6
20070515.0     5
20070517.0     5
20070530.0     5
20070524.0     5
20180628.0     4
20070525.0     4
20070516.0     3
20070606.0     3
20180522.0     2
20070608.0     2
20070522.0     2
20181114.0     2
20060903.0     1
20070416.0     1
20171004.0     1
20180718.0     1
20171122.0     1
20180831.0     1
20180929.0     1
20181009.0     1
20190821.0     1
20190904.0     1
20170630.0     1
Name: Q, dtype: int64

In [56]:
df["Q"].value_counts().to_csv("./files/sub_$Q.csv", header=True)

### $R values

In [58]:
df["R"].value_counts()

20180524.0    44
20080620.0    18
20201016.0    18
20070514.0    16
20070523.0    14
20180523.0    10
20180706.0     9
20180417.0     8
20180919.0     8
20180629.0     7
20180320.0     6
20180418.0     6
20180628.0     4
20070607.0     4
20070518.0     3
20181114.0     2
20180522.0     2
20171004.0     1
20170630.0     1
20171122.0     1
20180831.0     1
20070530.0     1
20180929.0     1
20181009.0     1
20180718.0     1
20190821.0     1
20190904.0     1
Name: R, dtype: int64

In [59]:
df["R"].value_counts().to_csv("./files/sub_$R.csv", header=True)

### $S values

In [60]:
df["S"].value_counts()

20080613.0    35
20080620.0    21
20070607.0     8
20070523.0     7
20070514.0     7
20070524.0     5
20070517.0     5
20070515.0     5
20070518.0     5
20070525.0     4
20070530.0     4
20070606.0     3
20070516.0     3
20070608.0     2
20070522.0     2
20060903.0     1
20070416.0     1
Name: S, dtype: int64

In [61]:
df["S"].value_counts().to_csv("./files/sub_$S.csv", header=True)

### $w values

In [62]:
df["w"].value_counts()

v.1           1015
v.2            914
v.3            396
v.4            204
v.5            123
              ...
v.56             1
v. 16            1
text             1
v.1:pt.1-4       1
v.118            1
Name: w, Length: 651, dtype: int64

In [63]:
df["w"].value_counts().to_csv("./files/sub_$w.csv", header=True)